* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.banner {
    width: 100%;
    background-image: url(./public/main.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hamburger {
    opacity: 0;
}

.navbar {
    width: 100%;
    background-color: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.navbar ul li a {
    color: #fff;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
   width: 100%;
}

.navbar ul li a {
    text-decoration: none;
}

.logo {
    width: 400px;
    cursor: pointer;
}


.description {
    color: #fff;
    text-align: center;
    margin-top: 10vh;
    height: 20vh;
}
.content {
    height: 100vh;
    overflow: hidden;
}
.contentMain {
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)); 
    background-size: 20px;
    display: grid;
    margin-top: 10vh;
    width: 100vw;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    }

.contentAbout {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 3fr 3fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;

}

.aboutDescription {
    margin: 10px;
    min-width: 30vw;
    min-height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    text-align: center;
    color: #fff;
    border-radius: 25px;
}

.immergas {
    margin: 0;
    height: 400px;
    width: 400px;
}

h2 {
    padding-top: 1%;
    margin-bottom: -3%;
    text-align: center;
    color: #fff;
}

#map {
    margin: 5% auto;
    text-align: center;
    height: 50vh;
    width: 50vw;
    overflow-y: hidden;
    overflow-x: hidden;
}


.about {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
}

.about li {
    list-style: none;
    padding: .20%;
    margin: 2%;
}

.anim-trans-in {
    animation: anim-in 1s ease-in-out;
    }

.anim-trans-out {
    animation: anim-out 1s ease-in-out;
    }

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formContainer button {
    width: 20%;
    align-self: center;
}


.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    margin-top:5px
}

@keyframes anim-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes anim-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 35em) {

    body:not(.hamburger .hamburger-box .hamburger-inner) {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar {
        position: relative;
        z-index: 9999;
        height: 100vh;
        inset: 0 0 0 20%;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .active {
        transform: translateX(0%);
        transition: 0.5s;
    }

    .logo {
        width: 70%;
        margin: 0;
        padding: 0;
    }

    .hamburger {
        top: 5%;
        position: absolute;
        opacity: 1
    }

    .hamburger-inner {
        background: #fff;
    }
    
    .navbar ul {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: -60%;
        margin-left: 10%;
    }

    .navbar ul li a{
        font-weight: 800;
        font-size: 2em; 
        color: #fff;

    }

    #description {
        transition: opacity 1s linear;
        opacity: 1
    }

    .about{
        transition: 0.5s;
        opacity: 1;
        transition: opacity 1s linear;
    }

    .content{
        padding: 0;
        font-size: 1em;
        margin-top: -150%;
        transition: 0.5s;
    }

    #map {
        width: 100vw;
    }
}